<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xmlToTable" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <xmlToTable
    sourceConnection="connection string"
    source="table, view, query, or filename"
    sourceTimeout="in seconds"
    repositoryHost="hostname"
    repositoryUsername="user"
    repositoryPassword="password"
    repositoryName="name"
    isHierarchicalModel="true or false"
    useForeignKeys="true or false"
    maximumNameLength="number of characters"
    provider="name"
    batchSize="number (console runner only)"
    repeat="true of false (console runner only)"
    verbose="true of false (console runner only)"
  />
</configuration>